[Desktop Entry]
Version=1.0
Type=Application
Encoding=UTF-8
Name=AMRISim
Comment=Simulate MobileRobots/ActivMedia robots in their environment, for use with ARIA
Icon=/usr/local/AMRISim/icon.png
TryExec=/usr/local/AMRISim/AMRISim
Path=/usr/local/bin
Exec=/usr/local/bin/AMRISim
Categories=Application;Science;
